@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/* font-family: 'Josefin Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.header {
  padding: 30px;
}

.image,
.image img {
  width: 100%;
}

.desktop_image {
  display: none;
}

.text_content {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: column;
}

.pink,
.black {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2rem;
}

.pink {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.black {
  font-weight: 600;
}

.description {
  line-height: 1.5;
  color: hsl(0, 36%, 70%);
  text-align: center;
  margin: 1.5rem 0;
}

.email {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 50px;
}

.email input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 50px;

  outline: none;
}

::placeholder {
  color: hsl(0, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
}

.error_icon {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
  display: none;
}

.error_msg {
  color: hsl(0, 93%, 68%);
  margin: -2.5rem 0 0 2rem;
  display: none;
}

.visible {
  display: block;
}

.red_border {
  border: 2px solid hsl(0, 93%, 68%);
}

.succes {
  border: 2px solid rgb(35, 136, 35);
}

button {
  width: 70px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  cursor: pointer;
  position: absolute;
  right: -2px;
  top: -1.5px;
  padding: 13px;
  box-shadow: 0 10px 15px hsla(0, 36%, 70%, 0.568);
}

@media screen and (min-width: 768px) {
  /* body {
    padding: 2rem;
  } */
  .container {
    min-height: 100vh;
    display: flex;
  }

  .text_content {
    padding-right: 10rem;
  }

  .pink,
  .black {
    text-align: left;
    font-size: 3rem;
  }

  .description {
    line-height: 1.5;
    text-align: left;
    margin: 2rem 0;
  }

  .header,
  .text_content {
    padding-left: 10rem;
  }

  .text_content {
    margin-bottom: 3rem;
  }

  .header {
    margin-top: 2rem;
  }

  .left {
    width: 60%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no repeat;
  }

  .image {
    display: none;
  }

  .right {
    width: 40%;
  }

  .bg-image {
    background-image: url("./images/hero-desktop.jpg");
    background-size: cover;
    background-position: center center;
  }

  .button {
    width: 150px;
  }
}
